<!DOCTYPE html>
<html>
  <head>
    <title>AlohaAuth<%= " | "+yield(:title) unless yield(:title).blank? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Begin Flash Message-->
    <div id="flash-messages" class="row">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name == 'notice' ? 'primary' : 'danger' %> alert-dismissable col" role="alert">
          <%= msg %>
          <button type="button" class="class" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
    <!--End Flash Message-->
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to "Aloha", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <%= nav_link "Home", root_path %>
          <%= nav_link "About", about_path %>
          <%= nav_link "Photos", photos_path %>
        </ul>
        <ul class="navbar-nav pull-right mr-auto">
          <%= nav_link "Sign Up", new_user_path %>
          <%= nav_link "Login", "/login" %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <% if @show_title %>
      <div id="title" class="row">
        <div class="col">
          <h1><%= yield(:title) %></h1>
        </div>
      </div>
      <% end %>
      <%= yield %>
    </main>
    
  </body>
  
  
  <footer class="container py-5">
  <div class="row p-3 mb-2 bg-light">
    <div class="col-12 col-md">
      <small class="d-block mb-3 text-muted">&copy; 2020 Cheng Yu Hsieh</small>
    </div>
    
    <div class="col-6 col-md">
      <h5>Study</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://go.byuh.edu/">BYUH Email</a></li>
        <li><a class="text-muted" href="https://byuh.instructure.com/">Canvas</a></li>
        <li><a class="text-muted" href="https://cas.byuh.edu/cas/login?service=https%3A%2F%2Fhprod.byuh.edu%2Fpsp%2Fps%2FEMPLOYEE%2FSA%2Fc%2FSA_LEARNER_SERVICES.SSS_STUDENT_CENTER.GBL">Student Center</a></li>
        <li><a class="text-muted" href="https://www.myworkday.com/byuhi/d/home.htmld">Workday</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>CES school</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.byu.edu/">BYU-Provo</a></li>
        <li><a class="text-muted" href="https://www.byui.edu/">BYU-Idaho</a></li>
        <li><a class="text-muted" href="https://www.byuh.edu/">BYU-Hawaii</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Connect</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.facebook.com/">Facebook</a></li>
        <li><a class="text-muted" href="https://www.instagram.com/">Instagram</a></li>
        <li><a class="text-muted" href="https://www.youtube.com/">YouTube</a></li>
      </ul>
    </div>
  </div>
</footer>


</html>

<!--For each pages and include header and footer here-->